* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 7vw;
  background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
}

/* Landing page */
.landingPage {
  display: grid;
  place-items: center;
  position: relative;
  height: 100vh;
  height: 100dvh;
}

.bdayText {
  font-family: 'Mynerve', cursive;
  color: white;
  position: absolute;
  transform: rotate(30deg);
  top: 25%;
  right: 0;
}

.pawMark1 {
  position: absolute;
  top: 5%;
  left: 35%;
  transform: rotate(145deg);
  opacity: 0;
  -webkit-animation: pawMark1 2s 1s ease-out;
          animation: pawMark1 2s 1s ease-out;
}

.pawMark2 {
  position: absolute;
  top: 12%;
  left: 42%;
  transform: rotate(155deg);
  opacity: 0;
  -webkit-animation: pawMark1 2s 2s ease-out;
          animation: pawMark1 2s 2s ease-out;
}

.pawMark3 {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: rotate(155deg);
  opacity: 0;
  -webkit-animation: pawMark1 2s 3s ease-out;
          animation: pawMark1 2s 3s ease-out;
}

.pawMark4 {
  position: absolute;
  top: 28%;
  left: 48%;
  transform: rotate(165deg);
  opacity: 0;
  -webkit-animation: pawMark1 2s 4s ease-out;
          animation: pawMark1 2s 4s ease-out;
}

.pawMark5 {
  position: absolute;
  top: 40%;
  left: 44%;
  transform: rotate(155deg);
  opacity: 0;
  -webkit-animation: pawMark1 2s 5s ease-out;
          animation: pawMark1 2s 5s ease-out;
}

@media screen and (max-width: 800px) {
  .bdayText {
    font-size: 1rem;
    top: 10%;
    transform: rotate(20deg);
  }
  .pawMark1 {
    top: 5%;
    left: 20%;
    transform: rotate(145deg);
  }
  .pawMark2 {
    top: 10%;
    left: 42%;
    transform: rotate(155deg);
  }
  .pawMark3 {
    top: 21%;
    left: 38%;
    transform: rotate(160deg);
  }
  .pawMark4 {
    top: 30%;
    left: 48%;
    transform: rotate(180deg);
  }
  .pawMark5 {
    top: 40%;
    left: 40%;
    transform: rotate(180deg);
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .bdayText {
    font-size: 1.25rem;
    top: 25%;
    transform: rotate(20deg);
  }
  .pawMark1 {
    transform: scale(70%) rotate(145deg);
  }
  .pawMark2 {
    transform: scale(70%) rotate(155deg);
  }
  .pawMark3 {
    transform: scale(70%) rotate(160deg);
  }
  .pawMark4 {
    transform: scale(70%) rotate(180deg);
  }
  .pawMark5 {
    display: none;
  }
}

@-webkit-keyframes pawMark1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.gameStartButton {
  padding: 0.5rem 1rem;
  font-size: 1.75rem;
  border: none;
  border-radius: 1rem;
  color: #ff7c94;
  background-color: #fff4d2;
  border: 2px solid white;
  box-shadow: 0 0 8px 1px white;
  transition: all 400ms;
  position: relative;
  z-index: 5;
}

.gameStartButton:hover {
  cursor: pointer;
  box-shadow: 0 0 32px 16px #fbcfe8;
}

.waveLoader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border-radius: 50%;
}

.waveLoader:before, .waveLoader:after {
  content: '';
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
}

.waveLoader:before {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-animation: spWaveBe 0.6s infinite linear;
          animation: spWaveBe 0.6s infinite linear;
}

.waveLoader:after {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  opacity: 0;
  -webkit-animation: spWaveAf 0.6s infinite linear;
          animation: spWaveAf 0.6s infinite linear;
}

@-webkit-keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveAf {
  from {
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    -webkit-transform: scale(0.5, 0.5);
            transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
}
@-webkit-keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
@keyframes spWaveBe {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

.displayNone {
  display: none;
}

/* Game page */
.gameArea {
  display: none;
  place-items: center;
  height: 100dvh;
}

.gameStart {
  display: grid;
}

.canvasContainer {
  position: relative;
}

#canvas1 {
  width: 100%;
  box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.501);
  font-family: 'Inter', sans-serif;
}

#player, #layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #enemy_fly, #enemy_plant, #enemy_spider_big, #fire, #collisionAnimation, #lives {
  display: none; 
}

#fullScreenButton {
  color: black;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.6;
}

#arrowLeft {
  color: white;
  position: absolute;
  bottom: 20%;
  right: 25%;
  font-size: 3.5rem;
  opacity: 0.7;
}

#arrowRight {
  color: white;
  position: absolute;
  bottom: 20%;
  right: 12%;
  font-size: 3.5rem;
  opacity: 0.7;
}

#arrowUp {
  color: white;
  position: absolute;
  bottom: 23%;
  left: 10%;
  font-size: 3rem;
  opacity: 0.7;
}

#fullScreenButton:hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  #arrowLeft {
    display: none;
  }
  
  #arrowRight {
    display: none;
  }
  
  #arrowUp {
    display: none;
  }
}